body {
  margin: 0;
  padding: 0;
  font-family: PingFang SC,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,Arial,Hiragino Sans GB,Source Han Sans,Noto Sans CJK Sc,Microsoft YaHei,Microsoft Jhenghei,sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  text-align: left;
  -webkit-text-size-adjust: 100%!important;
  text-size-adjust: 100%!important;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  // font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, video, img {
  display: block;
}

ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  // color: #7e8c8d;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  background: none;
  text-decoration:none;
}

li {
  list-style: none;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
  color: transparent;
}

::-webkit-scrollbar-track-piece {
  background-color: transparent;
  // background-color: #F5F5F5;
  -webkit-border-radius: 5px;
}


::-webkit-scrollbar-thumb:vertical {
  background-color: #D7D7D7;
  -webkit-border-radius: 5px;
}

::-webkit-scrollbar-thumb:horizontal {
  background-color: #D7D7D7;
  -webkit-border-radius: 5px;
}

fieldset, img {
  border:0
}
legend {
  display:none
}
address, caption, cite, code, dfn, em, strong, th, var{
  font-style:normal;
  font-weight:normal
}
caption, th {
  text-align:left
}

h1, h2, h3, h4, h5, h6 {
  font-size:100%;
  font-weight: bold;
}
