@import './blue/index.css';
@import './blue/index.scss';
@import './gray/index.css';
@import './gray/index.scss';
@import './grayBlue/index.css';
@import './grayBlue/index.scss';
@import './green/index.css';
@import './green/index.scss';
@import './lightBlue/index.css';
@import './lightBlue/index.scss';
@import './purple/index.css';
@import './purple/index.scss';
@import './red/index.css';
@import './red/index.scss';
